<!doctype html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="{{ page.icon }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=.8" name="viewport"/>
    <title>{{ page.title }}</title>
    <!-- https://okumuralab.org/~okumura/python/bulkedit.html -->
    <!-- MathJax -->
    <script>
      MathJax = {
        chtml: {
          matchFontHeight: false
        },
        tex: {
          inlineMath: [['$', '$']]
        }
      };
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-svg-full.min.js" integrity="sha512-rt6EnxNkuTTgQX2397gLDTao/kZrmdNM4ZO7n89nX6KqOauwSQTGOq3shcd/oGyUc0czxMKBvj+gML8dxX4hAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
  <body>
    {{ content }}
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="kobae964" data-dnt="true">Tweet</a>
    <script type="text/javascript">
      !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],
        p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){
          js=d.createElement(s);js.id=id;
          js.src=p+'://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js,fjs);
      }}(document, 'script', 'twitter-wjs');
    </script>
  </body>
</html>
